<h2 class="page-header">My Recipe Box</h2>
<p>Welcome to your Recipe Box</p>  
<form method="post" action="/users/myRecipeBox">
  	<div class="row form-group col-xs-3">
    	<label>My Recipes</label>
    	<input type="text" class="form-control" name="myRecipeBox" placeholder="My Recipes">
 	 </div>
  	<div class="row col-md-3">
  		<button type="submit" class="btn btn-default">Submit</button>
	</div>
  
</form>